@import models.Thing
@(form: Form[FilterSearch],
        things: List[ThingWithID],
        filterOptions: List[(String, String)] = List("name" -> "Name", "price" -> "Price", "tags" -> "Tag"))(implicit messagesProvider: MessagesProvider)

@main("Search")(things) {
    @helper.form(routes.ThingController.submitSearchForm) {
        @helper.select(
            form("filter"), filterOptions, 'id -> "SearchFilter", 'class -> "SelectField"
        )
        @helper.inputText(form("search"), 'id -> "SearchValue", 'class -> "InputField")
        <button type="submit">Search for things</button>
    }
}