@import models.Thing
@(form: Form[Thing], things: List[ThingWithID], message: String ="Create thing", route: Call = routes.ThingController.submitForm)(implicit messagesProvider: MessagesProvider)

@getRepeat() = {
    <div class="form-row justify-content-around">
    @helper.repeat(form("tags"), min = 3) { tagField =>
        @getAnother(tagField)
    }
    </div>
}

@getAnother(field: Field) = {
@helper.inputText(field, 'class -> " InputField form-control col-9 ", '_label -> "A Tag", 'id -> field.toString)
}

@main(message)(things) {
    @helper.form(route, 'class -> "form-group w-50 m-3 border p-1") {
        @helper.inputText(form("name"), 'id -> "ThingName", 'class -> "InputField form-control w-50", '_label -> "Thing's name")
        @helper.inputText(form("price"), 'id -> "ThingPrice", 'class -> "InputField form-control w-50", '_label -> "Thing's price")
        @getRepeat()
        <button class="btn btn-info" type="submit">@message</button>

    }
}