@import models.Thing
@(form: Form[Thing], things: List[ThingWithID])(implicit messagesProvider: MessagesProvider)



@main("Create thing")(things) {
    @helper.form(routes.ThingController.submitForm) {
        @helper.inputText(form("name"), 'id -> "ThingName", 'class -> "InputField")
        @helper.inputText(form("price"), 'id -> "ThingPrice", 'class -> "InputField")
        @helper.repeat(form("tags"), min = 3) { tagField =>
            @helper.inputText(tagField, 'class -> "InputField")
        }
        <button type="submit">Create thing</button>

    }
}